<div class="section footer">
    <div class="footer_buttons">
        <a class="footer_button" href="despre"><%=translation.about%></a>
        <a class="footer_button" href="datelazi-covid19-md"><%=translation.stats%></a>
        <a class="footer_button" href="simptome"><%=translation.symptoms%></a>
        <a class="footer_button" href="recomandari"><%=translation.recommendation%></a>
        <a class="footer_button" href="covid19"><%=translation.q_and_a%></a>
        <a class="footer_button" href="juridic"><%=translation.juridic%></a>
    </div>
    <div class="created_by">
        <span><%=translation.created_with%></span> <span class="heart">&#9825;</span> <span><%=translation.de_c4md%></span>
    </div>
    <div class="copyright">
        &#169; <span><%=translation.copyright%></span>
    </div>
</div>