<div class="section intro flex middle">
    <div class="container">
        <div class="intro_content">
            <dev class="title-container">
                <dev class="title" >
                    <%=translation.information_center%>
                </dev>
                <a href='/'>
                    <div class="info_url" >
                        <%=translation.coronavirus_moldova%>
                    </div>
                </a>
            </dev>

            <div class="header_buttons">
                <a class="header_button" href="despre"><%=translation.about%></a>
                <a class="header_button" href="recomandari"><%=translation.recommendation%></a>
                <a class="header_button" href="simptome"><%=translation.symptoms%></a>
                <a class="header_button" href="covid19"><%=translation.q_and_a%></a>
                <a class="header_button" href="juridic"><%=translation.juridic%></a>
            </div>
        </div>
    </div>
</div>