<div class="likely row social_media">
    <div class="linkedin"><%=translation.link%></div>
    <div class="twitter"><%=translation.tweet%></div>
    <div class="facebook"><%=translation.share%></div>
    <div class="vkontakte"><%=translation.share%></div>
    <div class="odnoklassniki"><%=translation.class%></div>
    <div class="telegram"><%=translation.send%></div>
    <div class="whatsapp"><%=translation.send%></div>
</div>