<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Covid19 Moldova | Centru de informare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta data-react-helmet="true" name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"/>
    <meta data-react-helmet="true" name="description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei."/>
    <meta data-react-helmet="true" property="og:title" content="Date la zi Covid19 in Moldova"/>
    <meta data-react-helmet="true" property="og:description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei"/>
    <meta data-react-helmet="true" property="og:type" content="website"/>
    <meta data-react-helmet="true" property="og:image" content="covid19-moldova.jpg"/>
    <meta data-react-helmet="true" name="twitter:card" content="summary"/>
    <meta data-react-helmet="true" name="twitter:creator" content="Volunteers from Code for Moldova"/>
    <meta data-react-helmet="true" name="twitter:title" content="Date la zi Covid19 in Moldova"/>
    <meta data-react-helmet="true" name="twitter:description" content="Platforma ce agrega proiecte contra virusului COVID-19 in contextul Moldovei."/>

    <link rel="stylesheet" href="newdesign/css/main.css">

    <%- include('../partials/static-head'); -%>
</head>
<body>

    <%- include('../partials/header'); -%>

    <div class="section ask">
        <div class="container">
            <div class="heading">
                <h2>
                    <%=translation.q_and_a%>
                </h2>
            </div>
            <div class="questions">

                <div class="question">
                    <h4>
                        <%=translation.what_is_covid%>
                    </h4>
                    <p>
                        <%=translation.what_is_covid_explication%>
                    </p>
                </div>

                <div class="question">
                    <h4>
                        <%=translation.cum_se_raspandeste%>
                    </h4>
                    <p>
                        <%=translation.cum_se_raspandeste_expl%>
                    </p>
                </div>
                <div class="question">
                    <h4>
                        <%=translation.risc_la_boala_cine_e%>
                    </h4>
                    <p>
                        <%=translation.risc_la_boala_cine_e_expl%>
                    </p>
                </div>
                <div class="question">
                    <h4>
                        <%=translation.period_inc%>
                    </h4>
                    <p>
                        <%=translation.period_inc_expl%>
                    </p>
                </div>
                <div class="question">
                    <h4>
                        <%=translation.suprafete%>
                    </h4>
                    <p>
                        <%=translation.suprafete_expl%>
                    </p>
                </div>
                <div class="question">
                    <h4><%=translation.antibiotics%></h4>
                    <p><%=translation.antibiotics_expl%></p>
                </div>
                <div class="question">
                    <h4><%=translation.vaccin%></h4>
                    <p><%=translation.vaccin_expl%></p>
                </div>
                <div class="question">
                    <h4><%=translation.masca%></h4>
                    <p><%=translation.masca_expl%></p>
                </div>
                <div class="question">
                    <h4><%=translation.animale%></h4>
                    <p><%=translation.animale_expl%></p>
                </div>

                <div class="question">
                    <h4><%=translation.pachete%></h4>
                    <p><%=translation.pachete_expl%></p>
                </div>
                <div class="question">
                    <h4><%=translation.ulei%></h4>
                    <p><%=translation.ulei_expl%></p>
                </div>
                <div class="question">
                    <h4><%=translation.usturoi%></h4>
                    <p><%=translation.usturoi_expl%></p>
                </div>
            </div>

            <div>
                <a href="https://forms.gle/MeapxYvZP1MeZHzA9" class="tap red" target="_blank"><%=translation.ask_a_question%></a>
            </div>
            <%- include('../partials/share-btns'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/static-footer'); -%>

</body>
</html>