<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Covid19 Moldova | Centru de informare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Covid19 Moldova | Centru de informare">
    <meta property="og:description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei.">
    <meta property="og:image" content="https://info.c19.md/covid19-moldova.jpg">
    <meta property="og:url" content="https://info.c19.md">


    <meta name="twitter:card" content="summary"/>
    <meta  name="twitter:creator" content="Volunteers from Code for Moldova"/>
    <meta name="twitter:title" content="Date la zi Covid19 in Moldova"/>
    <meta  name="twitter:description" content="Platforma ce agrega proiecte contra virusului COVID-19 in contextul Moldovei."/>

    <link rel="stylesheet" href="newdesign/css/main2.css">
    <%- include('../partials/static-head'); -%>
</head>
<body>

    <div id="header" class="header">
        <div class="header_main flex middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="infoline">
                            <span class="info_row">
                                <span class="info_row"><%=translation.contact_numbers%>
                                </span><a href="tel:112" class="badge white" title="Apeleaza">112</a>
                                <span><%=translation.ambulanta%>
                                </span>
                            </span>
                            <span class="info_row">
                                <a href="tel:0 800 12300" class="badge green" title="Apeleaza">0 800 12300</a> "<span><%=translation.green_line%></span>"
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="langs">
                            <a href="#" id="language"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section intro flex middle">
        <div class="container">
            <div class="intro_content">
                <a href='/'>
                    <h1><%=translation.information_center%></h1>

                    <h2><%=translation.coronavirus_moldova%></h2>

                    <div class="info_url">
                        INFO.C19.MD
                    </div>
                </a>
                <div class="numbers flex middle justify responsive">
                    <div>
                        <div class="num flex middle spacing mx-2">
                            <div>
                                <span class="num_value infectate"></span>
                            </div>
                            <div>
                                <span class="num_desc "><span><%=translation.num_infect_first_word%></span> <br> <span><%=translation.num_infect_second_word%> </span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="num flex middle spacing mx-2">
                            <div>
                                <span class="num_value suspecte">43</span>
                            </div>
                            <div>
                                <span class="num_desc">
                                    <span>
                                        <%=translation.num_suspect_first_word%>
                                    </span>
                                    <br>
                                    <span>
                                        <%=translation.num_suspect_second_word%>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="num flex middle spacing mx-2">
                            <div>
                                <span class="num_value monitorzare">11238</span>
                            </div>
                            <div>
                                <span class="num_desc">
                                    <span><%=translation.num_pers_monitor_at_home_first_part_of_phrase%></span>
                                    <br>
                                    <span><%=translation.num_pers_monitor_at_home_first_second_part_of_phrase%>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="call_to_action">
                    <a href="datelazi-covid19-md" class="tap white view-progress">
                        <img class="statistics-icon" src="newdesign/images/statistics.png"/>
                        <span><%=translation.show_progress_of_virus%></span>
                    </a>
                    <a href="https://forms.gle/MeapxYvZP1MeZHzA9" class="tap white view-progress" target="_blank">
                        <%=translation.ask_a_question%>
                    </a>
                </div>
    			<!-- <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="push_message()">Test Push Notification</button> -->

                <div style="margin-top: 30px;">
                    <p>
                        <span><%=translation.act%></span><span id='dataup'></span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="heading">
                <h2>
                    <%=translation.symptoms%>
                </h2>
            </div>

            <div class="clearfix sim_wrap">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s1.svg" alt=""></div>
                            <div class="sim_title"><%=translation.temp_of_body%></div>
                            <div class="sim_desc"><%=translation.freq_common%></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s2.svg" alt=""></div>
                            <div class="sim_title"><%=translation.dry_cough%></div>
                            <div class="sim_desc"><%=translation.dry_cough_percent%></div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s3.svg" alt=""></div>
                            <div class="sim_title"><%=translation.tiredness%></div>
                            <div class="sim_desc"><%=translation.tiredness_percent%></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call_to_action">
                <a href="simptome" class="tap"><%=translation.show_all_symptoms%></a>
            </div>
        </div>
    </div>
<div class="section rec">
        <div class="container">
            <div class="heading">
                <h2><%=translation.recommendation%></h2>
            </div>

            <div class="content">
                <h4 style="color:#f70000; margin-bottom:30px;">
                    <%=translation.recs_auto%>
                </h4>
                <div class="heading">
                    <h4>
                        <%=translation.hygiene%>
                    </h4>
                </div>
                <ol>
                    <li><%=translation.hygiene_recommendation_one%></li>
                    <li><%=translation.hygiene_recommendation_two%></li>
                    <li><%=translation.hygiene_recommendation_three%></li>
                </ol>
            </div>
            <div class="call_to_action">
                <a href="recomandari" class="tap">
                    <%=translation.show_all_recommendation%>
                </a>
            </div>
        </div>
    </div>

    <div class="section ask">
        <div class="container">
            <div class="heading">
                <h2 >
                    <%=translation.q_and_a%>
                </h2>
            </div>

            <div class="questions">

                <div class="question">
                    <h4>
                        <%=translation.what_is_covid%>
                    </h4>
                    <p>
                        <%=translation.what_is_covid_explication%>
                    </p>
                </div>

                <div class="question">
                    <h4>
                        <%=translation.cum_se_raspandeste%>
                    </h4>

                    <p>
                        <%=translation.cum_se_raspandeste_expl%>
                    </p>
                </div>
                <div class="question">
                    <h4>
                        <%=translation.risc_la_boala_cine_e%>
                    </h4>
                    <p>
                        <%=translation.risc_la_boala_cine_e_expl%>
                    </p>
                </div>

            </div>

            <div class="call_to_action">
                <a href="covid19" class="tap"><%=translation.show_all_questions%></a>
                <a href="https://forms.gle/MeapxYvZP1MeZHzA9" class="tap red" target="_blank">
                    <%=translation.ask_a_question%>
                </a>
            </div>
        </div>
    </div>
    <div class="section juridic">
        <div class="container">
            <div class="heading">
                <h2>
                    <%=translation.juridic_title%>
                </h2>
            </div>
            <div class="questions">
                <div class="question">
                    <h4>
                        <%=translation.parlament%>
                    </h4>
                    <ol>
                    <li>
                        <p>
                            <a href="https://www.legis.md/cautare/getResults?doc_id=120817&lang=ro" target="_blank">
                                <%=translation.parlament1%>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="https://www.legis.md/cautare/getResults?doc_id=120832&lang=ro" target="_blank">
                                <%=translation.parlament2%>
                            </a>
                        </p>
                    </li>
                    </ol>
                </div>
            </div>
            <div class="call_to_action">
                <a href="juridic" class="tap"><%=translation.juridic_btn%></a>
            </div>    
        </div>
    </div>
    <div class="section team">
        <div class="container">
            <div class="heading">
                <h2>
                    <%=translation.team_of_project%>
                </h2>
            </div>

            <div class="content">
                <span><%=translation.info1%></span>
                <a href='https://msmps.gov.md/' target="_blank"><%=translation.minister%></a>
                <a href='https://www.who.int/emergencies/diseases/novel-coronavirus-2019' target="_blank"><%=translation.who%></a>
                <span><%=translation.info2%></span>
            </div>

            <div class="call_to_action">
                <!--<a href="https://forms.gle/xvFhSaqQuKQxVMAJ9" class="tap green" target="_blank">Vreau sa mă alătur</a>-->
                <a href="despre" class="tap"><%=translation.show_team%></a>
            </div>
            <%- include('../partials/share-btns'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/static-footer'); -%>

</body>
</html>
