<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Covid19 Moldova | Centru de informare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Covid19 Moldova | Centru de informare">
    <meta property="og:description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei.">
    <meta property="og:image" content="https://info.c19.md/covid19-moldova.jpg">
    <meta property="og:url" content="https://info.c19.md">


    <meta name="twitter:card" content="summary"/>
    <meta  name="twitter:creator" content="Volunteers from Code for Moldova"/>
    <meta name="twitter:title" content="Date la zi Covid19 in Moldova"/>
    <meta  name="twitter:description" content="Platforma ce agrega proiecte contra virusului COVID-19 in contextul Moldovei."/>

    <link rel="stylesheet" href="newdesign/css/main.css">
    <%- include('../partials/static-head'); -%>
</head>
<body>

    <%- include('../partials/header'); -%>

    <div class="section juridic">
        <div class="container">
            <div class="heading">
                <h2 data-i18n="juridic-title">
                </h2>
            </div>
            <div class="questions">
                <div class="question">
                    <h4 data-i18n="parlament"></h4>
                    <ol>
                    <li><p><a href="https://www.legis.md/cautare/getResults?doc_id=120817&lang=ro" target="_blank" data-i18n="parlament1"></a></p></li>
                    <li><p><a href="https://www.legis.md/cautare/getResults?doc_id=120832&lang=ro" target="_blank" data-i18n="parlament2"></a></p></li>
                    </ol>
                </div>
                <div class="question">
                    <h4 data-i18n="sit-exc"></h4>
                    <ol>
                    <li><p><a href="https://gov.md/sites/default/files/dispozitia_cse_nr.6.pdf" data-i18n="sit-exc6"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/dispozitia_cse_nr.5.pdf" data-i18n="sit-exc5"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/dispozitia_4_din_24.03.2020.pdf" data-i18n="sit-exc4"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/dispoziia_3_din_23.03.2020_a_cse_a_rm.pdf" data-i18n="sit-exc3"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/dispozitia_cse_nr.2.pdf" data-i18n="sit-exc2"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/dispozitia_1_din_18.03.2020_a_cse_a_rm-1.pdf" target="_blank" data-i18n="sit-exc1"></a></p></li>
                    
                    </ol>
                </div>
                <div class="question">
                    <h4 data-i18n="comisia-sp"></h4>
                    <ol>
                    <li><p><a href="https://gov.md/sites/default/files/hotarare_cnesp_02.01.2020_nr_1.pdf" target="_blank" data-i18n="comisia-sp1"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/hotarare_cnesp_24.02.2020_nr_2.pdf" target="_blank" data-i18n="comisia-sp2"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/hotarare_cnesp_08.03.2020_nr_3.pdf" target="_blank" data-i18n="comisia-sp3"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/hotarire_cnesp_din_09.03.2020_covid_nr_4.pdf" target="_blank" data-i18n="comisia-sp4"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/final_hotarire_cnesp_cov_9.03.2020_nr_5.pdf" target="_blank" data-i18n="comisia-sp5"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/final_hotarire_cnesp_cov_10.03.2020_final_red.pdf" target="_blank" data-i18n="comisia-sp6"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/final_hotarire_cnesp_cov_10.03.2020_final_red.pdf" target="_blank" data-i18n="comisia-sp7"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/20200315_anexa_p5_hot_7.pdf" target="_blank" data-i18n="comisia-sp8"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/hcnesp_din_15.03.2020_-_nr.8_final_0.pdf" target="_blank" data-i18n="comisia-sp9"></a></p></li>
                    <li><p><a href="https://gov.md/sites/default/files/hcnesp_din_15.03.2020_-_nr.9_var_2_final_0.pdf" target="_blank" data-i18n="comisia-sp10"></a></p></li>
                    </ol>
                </div>
                <div class="question">
                    <h4 data-i18n="mecc"></h4>
                    <ol>
                    <li><p><a href="https://mecc.gov.md/sites/default/files/ord.369_masuri_suplimentare_1.pdf" target="_blank" data-i18n="mecc4"></a></p></li>
                    <li><p><a href="https://mecc.gov.md/ro/content/se-prelungeste-perioada-de-suspendare-procesului-educational-incinta-institutiilor-de" data-i18n="mecc5"></a></p></li>
                    <li><p><a href="https://mecc.gov.md/sites/default/files/ordin_mecc_invatamant_la_distanta.pdf" target="_blank" data-i18n="mecc1"></a></p></li>
                    <li><p><a href="https://mecc.gov.md/sites/default/files/ordin_act.didactice_online_universitati.pdf" data-i18n="mecc2"></a></p></li>
                    <li><p><a href="https://mecc.gov.md/sites/default/files/regulament_cadru_0.pdf" data-i18n="mecc3"></a></p></li>
                    </ol>
                </div>
                <div class="question">
                    <h4 data-i18n="primaria"></h4>
                    <ol>
                    <li><p><a href="https://www.chisinau.md/download.php?file=cHVibGljL3B1YmxpY2F0aW9ucy8yODg2MjQ5Ml9tZF8xNDJfZC5wZGY%3D" target="_blank" data-i18n="primaria7"></a></p></li>
                    <li><p><a href="https://www.chisinau.md/download.php?file=cHVibGljL3B1YmxpY2F0aW9ucy8yODgzODQ5Ml9tZF8xMzRfZC5wZGY%3D" target="_blank" data-i18n="primaria1"></a></p></li>
                    <li><p><a href="https://www.chisinau.md/download.php?file=cHVibGljL3B1YmxpY2F0aW9ucy8yODgxMzQ5Ml9tZF8xMTJfZC5wZGY%3D " target="_blank" data-i18n="primaria2"></a></p></li>
                    <li><p><a href="https://www.chisinau.md/download.php?file=cHVibGljL3B1YmxpY2F0aW9ucy8yODgwMDQ5Ml9tZF9kaXNwb3ppdGlhX25yLnBkZg%3D%3D" target="_blank" data-i18n="primaria3"></a></p></li>
                    <li><p><a href="https://www.chisinau.md/download.php?file=cHVibGljL3B1YmxpY2F0aW9ucy8yODc3ODQ5Ml9tZF8xMDlfZC5wZGY%3D" target="_blank" data-i18n="primaria4"></a></p></li>
                    <li><p><a href="https://www.chisinau.md/download.php?file=cHVibGljL3B1YmxpY2F0aW9ucy8yODc2NDQ5Ml9tZF8xMDJfZC5wZGY%3D" target="_blank" data-i18n="primaria5"></a></p></li>
                    <li><p><a href="https://www.chisinau.md/download.php?file=cHVibGljL3B1YmxpY2F0aW9ucy8yODczNjQ5Ml9tZF9kaXNwLnBkZg%3D%3D" target="_blank" data-i18n="primaria6"></a></p></li>
                    </ol>
                </div>
            </div>
            <%- include('../partials/share-btns'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/static-footer'); -%>
</body>
</html>
