<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Covid19 Moldova | Centru de informare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Covid19 Moldova | Centru de informare">
    <meta property="og:description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei.">
    <meta property="og:image" content="https://info.c19.md/covid19-moldova.jpg">
    <meta property="og:url" content="https://info.c19.md">


    <meta name="twitter:card" content="summary"/>
    <meta  name="twitter:creator" content="Volunteers from Code for Moldova"/>
    <meta name="twitter:title" content="Date la zi Covid19 in Moldova"/>
    <meta  name="twitter:description" content="Platforma ce agrega proiecte contra virusului COVID-19 in contextul Moldovei."/>

    <link rel="stylesheet" href="newdesign/css/main.css">
    <%- include('../partials/static-head'); -%>
</head>
<body>

    <%- include('../partials/header'); -%>

    <div class="section rec">
        <div class="container">
            <div class="heading">
                <h2><%=translation.recommendation%></h2>
            </div>

            <div class="content">
                <h4 style="color:#f70000; margin-bottom:30px;">
                    <%=translation.recs_auto%>
                </h4>
                <div class="heading">
                    <h4>
                        <%=translation.hygiene%>
                    </h4>
                </div>
                <ol>
                    <li><%=translation.hygiene_recommendation_one%></li>
                    <li><%=translation.hygiene_recommendation_two%></li>
                    <li><%=translation.hygiene_recommendation_three%></li>
                    <li><%=translation.hygiene_recommendation_four%></li>
                    <li><%=translation.hygiene_recommendation_five%></li>
                    <li><%=translation.hygiene_recommendation_six%></li>
                </ol>
                <div class="heading">
                    <h4><%=translation.social_beh%></h4>
                </div>
                <ol>
                    <li><%=translation.social_rec_one%></li>
                    <li><%=translation.social_rec_two%></li>
                    <li><%=translation.social_rec_three%></li>
                </ol>
                <div class="heading">
                    <h4>
                        <%=translation.med_help%>
                    </h4>
                </div>
                <ol>
                    <li><%=translation.med_rec_one%></li>
                    <li><%=translation.med_rec_two%></li>
                    <li><%=translation.med_rec_three%></li>
                </ol>
            </div>
            <%- include('../partials/share-btns'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/static-footer'); -%>
</body>
</html>
