<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Covid19 Moldova | Centru de informare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Covid19 Moldova | Centru de informare">
    <meta property="og:description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei.">
    <meta property="og:image" content="https://info.c19.md/covid19-moldova.jpg">
    <meta property="og:url" content="https://info.c19.md">


    <meta name="twitter:card" content="summary"/>
    <meta  name="twitter:creator" content="Volunteers from Code for Moldova"/>
    <meta name="twitter:title" content="Date la zi Covid19 in Moldova"/>
    <meta  name="twitter:description" content="Platforma ce agrega proiecte contra virusului COVID-19 in contextul Moldovei."/>

    <link rel="stylesheet" href="newdesign/css/main.css">
    <%- include('../partials/static-head'); -%>
</head>
<body>

    <%- include('../partials/header'); -%>

    <div class="section">
        <div class="container">
            <div class="heading">
                <h2 data-i18n="symptoms">
                </h2>
            </div>

            <div class="clearfix sim_wrap">
                <div class="row">
                    <div class="col-md-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s1.svg" alt=""></div>
                            <div class="sim_title" data-i18n="temp-of-body"></div>
                            <div class="sim_desc" data-i18n="freq-common"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s2.svg" alt=""></div>
                            <div class="sim_title" data-i18n="dry-cough"></div>
                            <div class="sim_desc" data-i18n="dry-cough-percent">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s3.svg" alt=""></div>
                            <div class="sim_title" data-i18n="tiredness"></div>
                            <div class="sim_desc" data-i18n="tiredness-percent">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s4.svg" alt=""></div>
                            <div class="sim_title" data-i18n="breath_1"></div><div class="sim_title" data-i18n="breath_2"></div>
                            <div class="sim_desc" data-i18n="sometimes"> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s6.svg" alt=""></div>
                            <div class="sim_title" data-i18n="throat"></div>
                            <div class="sim_desc" data-i18n="sometimes"> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s5.svg" alt=""></div>
                            <div class="sim_title" data-i18n="nose_1"></div><div class="sim_title" data-i18n="nose_2"></div>
                            <div class="sim_desc" data-i18n="rare"> </div>
                        </div>
                    </div>

                </div>

            </div>
            <%- include('../partials/share-btns'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/static-footer'); -%>
</body>
</html>
