<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Covid19 Moldova | Centru de informare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Covid19 Moldova | Centru de informare">
    <meta property="og:description" content="Vizualizarea datelor despre noul Coronavirus Covid19 in contextul Moldovei.">
    <meta property="og:image" content="https://info.c19.md/covid19-moldova.jpg">
    <meta property="og:url" content="https://info.c19.md">


    <meta name="twitter:card" content="summary"/>
    <meta  name="twitter:creator" content="Volunteers from Code for Moldova"/>
    <meta name="twitter:title" content="Date la zi Covid19 in Moldova"/>
    <meta  name="twitter:description" content="Platforma ce agrega proiecte contra virusului COVID-19 in contextul Moldovei."/>

    <link rel="stylesheet" href="newdesign/css/main.css">
    <%- include('../partials/static-head'); -%>
</head>
<body>

    <%- include('../partials/header'); -%>

    <div class="section">
        <div class="container">
            <div class="heading">
                <h2>
                    <%=translation.symptoms%>
                </h2>
            </div>

            <div class="clearfix sim_wrap">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s1.svg" alt=""></div>
                            <div class="sim_title"><%=translation.temp_of_body%></div>
                            <div class="sim_desc"><%=translation.freq_common%></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s2.svg" alt=""></div>
                            <div class="sim_title"><%=translation.dry_cough%></div>
                            <div class="sim_desc"><%=translation.dry_cough_percent%></div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s3.svg" alt=""></div>
                            <div class="sim_title"><%=translation.tiredness%></div>
                            <div class="sim_desc">
                                <%=translation.tiredness_percent%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s4.svg" alt=""></div>
                            <div class="sim_title"><%=translation.breath_1%></div><div class="sim_title">
                                <%=translation.breath_2%>
                            </div>
                            <div class="sim_desc"> <%=translation.sometimes%></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s6.svg" alt=""></div>
                            <div class="sim_title"><%=translation.throat%></div>
                            <div class="sim_desc"> <%=translation.sometimes%></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sim_box">
                            <div class="sim_image"><img src="newdesign/images/s5.svg" alt=""></div>
                            <div class="sim_title"><%=translation.nose_1%></div><div class="sim_title"><%=translation.nose_2%></div>
                            <div class="sim_desc"> <%=translation.rare%></div>
                        </div>
                    </div>

                </div>

            </div>
            <%- include('../partials/share-btns'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/static-footer'); -%>
</body>
</html>
